---
layout: single
author_profile: true
excerpt: Riesenparty zugunsten kleiner Patienten
header:
  overlay_image: /assets/images/frontpage_header.png
  overlay_filter: 0.5
---


<h2>Sei am 25. Mai 2018 dabei!</h2>
<p>
  Am 25.5. steigt im YORK die Studentenparty des Semesters: PROFS@TURNTABLES! 8
  Eurer Lieblings-Professoren von der Uni Kassel trauen sich nacheinander an
  das DJ-Pult und sorgen damit für eine legendäre Partynacht, wie Ihr sie noch
  nie erlebt habt! Der Erlös aus dem Eintritt geht zu 100% an das
  KinderPalliativTeam „Kleine Riesen Nordhessen“. Eine Riesenparty zugunsten
  kleiner Patienten! Das dürft Ihr nicht verpassen - erzählt es Euren
  Kommilitonen!
</p>

<p>
  Der Eintrittspreis beträgt 7€. Wir freuen uns sehr über zusätzliche Spenden!

<p>
  Du kannst es nicht abwarten? Geh am 24. Mai zu Profs@Turntables <a href="http://www.profs-at-turntables.de/">in Göttingen</a>
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

